Language: Cpp
BasedOnStyle: Google

ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 4
UseTab: Never
TabWidth: 2

# Access modifiers
AccessModifierOffset: -1

# Alignment
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

# Short things on one line (Google‑like)
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes

# Bin packing
BinPackArguments: false
BinPackParameters: false

BitFieldColonSpacing: Both


BreakBeforeBraces: Attach
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false

BreakAfterAttributes: Never
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: Allowed
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakStringLiterals: true

CommentPragmas: '^ IWYU pragma:'
CompactNamespaces: false

ConstructorInitializerIndentWidth: 2

Cpp11BracedListStyle: true
DeriveLineEnding: true

# Pointer/reference spacing
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right
QualifierAlignment: Right

DisableFormat: false

EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock

ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true

ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH

IfMacros:
  - KJ_IF_MAYBE


IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: '^<[a-z0-9_]+(\.[a-z0-9_]*)?>'
    Priority: 1
    SortPriority: 0
  - Regex: '^<.*'
    Priority: 2
    SortPriority: 0
  - Regex: '^".*'
    Priority: 3
    SortPriority: 0
  - Regex: '.*'
    Priority: 4
    SortPriority: 0
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeIsMainSourceRegex: ''

IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true
IndentPPDirectives: None
IndentRequiresClause: true
IndentWrappedFunctionNames: false

InsertBraces: false
InsertNewlineAtEOF: true

KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
LineEnding: DeriveLF
MaxEmptyLinesToKeep: 2

NamespaceIndentation: None
NamespaceMacros:
  - TEST_SUITE
  - TEST_CASE
  - TEST_CASE_METHOD
  - TEST_CASE_TEMPLATE
  - TEST_CASE_TEMPLATE_DEFINE
  - TEST_CASE_METHOD_DEFINE
  - TEMPLATE_TEST_CASE
  - TEMPLATE_TEST_CASE_SIG
  - TEMPLATE_TEST_CASE_METHOD
  - TEMPLATE_TEST_CASE_METHOD_SIG
  - CATCH_TEST_CASE
  - CATCH_TEST_CASE_METHOD
  - CATCH_SECTION
  - CATCH_SCENARIO
  - CATCH_DESCRIBE
  - CATCH_CONTEXT

PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyIndentedWhitespace: 0
PenaltyReturnTypeOnItsOwnLine: 60

RawStringFormats:
  - Language: Cpp
    Delimiters:
      - 'R'
    CanonicalDelimiter: ''
    BasedOnStyle: 'LLVM'

ReflowComments: Always
RemoveBracesLLVM: false
SeparateDefinitionBlocks: Leave
ShortNamespaceLines: 1

SortJavaStaticImport: Before
SortUsingDeclarations: true

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true


SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false

SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesInParentheses: false
SpacesInSquareBrackets: false

Standard: Latest

StatementAttributeLikeMacros:
  - Q_EMIT
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION

UseCRLF: false


ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 2
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true

PackConstructorInitializers: BinPack
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
